# ==========================================
# CONFIGURACIÓN GENERAL DEL SISTEMA
# ==========================================

# Zona horaria para que todos los contenedores registren la hora correcta
TZ=Europe/Madrid

# Identificador de usuario y grupo de tu sistema Linux (Fedora)
PUID=1000
PGID=1000

# Red Local
LOCAL_DOMAIN=home
SERVER_IP=192.168.1.100

#Claves NAS
SAMBA_USER=user
SAMBA_PASSWORD=cambiame123
