# ==========================================
# CONFIGURACIÓN GENERAL DEL SISTEMA
# ==========================================

# Zona horaria para que todos los contenedores registren la hora correcta
TZ=Europe/Madrid

# Identificador de usuario y grupo de tu sistema Linux (Fedora)
PUID=1000
PGID=1000

# Red Local
LOCAL_DOMAIN=home
SERVER_IP=192.168.1.100

#Claves NAS
SAMBA_USER=user
SAMBA_PASSWORD=cambiame123

#Claves Nextcloud
NEXTCLOUD_DB_PASSWORD=UnaClaveParaLaDB_SuperSegura123
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=TuClaveAdminSegura123

#Cloudflare
CLOUDFLARE_TUNNEL_TOKEN=token_cloudflare

#Compose Profiles, descomentar SOLO si se desea levantar el contenedor cloudflare(LEER README.md)
#COMPOSE_PROFILES=external_access
