# Archivos de variables de entorno y secretos
.env
*.env
*.env.local

#Archivos de configuración de contenedores generados por los contenedores al iniciar y configurarse
config/

# Almacenamiento general y datos persitentes
storage/

# Logs
logs/
*.log

# Basura del sistema operativo
.DS_Store
Thumbs.db

notas.txt